#logo {
  width: 100%;
  max-width: 500px;
}

#submit-button {
  top: -2px;
  left: -2px;
}

.vertical-center {
  display:table-cell;
  vertical-align:middle;
  float:none;
}

.vertical-top {
  display:table-cell;
  float:none;
}

.product {
	height: 300px;
}

.cherry-arrow:active {
  border: none !important;
}
.cherry-arrow-left {
  opacity: 0.5;
  float: left;
  margin-left: 1%;
  width: 90px;
}

.cherry-arrow-left:hover {
  opacity: 1.0;
}
  
.cherry-arrow-right {
  opacity: 0.5;
  float: right;
  /*margin-right: -3%;*/
  width: 93px;
}

.cherry-arrow-right:hover {
  opacity: 1.0;
}

/* Bootstrap overload */
body {
  background: white !important;
}

.jumbotron {
  padding-top: 20px;
}

.navbar {
	margin-bottom: 0px !important;
}

.page-header h2 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


/* TYPEAHEAD FIX*/
/* https://github.com/bassjobsen/typeahead.js-bootstrap-css/blob/master/typeaheadjs.css */

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 200px;
  overflow-y: auto;
}

.tt-dataset-name p {
  font-size: 12px !important;
  padding: 0px;
}

.tt-suggestion {
  cursor: pointer;
}
.tt-suggestion > p {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 0.5;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.form-control {
  width: 100% !important;
}

.input-group-btn-edit {
  width: 1% !important;
}